.footer {
  background-color: var(--color-primary);
  border-top: 1px solid var(--color-border);
  padding-block: toRem(24);
}

.content {
  text-align: center;
  font-size: toRem(14);
  opacity: 0.9;
}

