.footer {
  background-color: var(--color-primary);
  border-top: 1px solid var(--color-border);
  // padding-block: toRem(24);
  @include adaptiveValue("padding-block", 20, 16);

  
}

.content {
  text-align: center;
  font-size: toRem(14);
  font-weight: 600;
  opacity: 0.9;

  & > p:not(:last-child) {
    @include adaptiveValue("margin-bottom", 4, 2);
  }
}

