.root {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: toRem(16);
}

.loaderWrapper {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: var(--font-roboto);
  font-size: toRem(20);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: toRem(24);
}
