.root {
  padding: toRem(24);
}

.cartTitle {
  font-size: toRem(28);
  font-weight: 700;
  margin-bottom: toRem(16);
  margin-top: 0;
  font-family: var(--font-roboto);
  color: var(--color-text);
}

.cartHeaderDivider {
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
  margin-bottom: toRem(32);
}

.emptyCartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: toRem(80) 0;
}

.emptyCartContent {
  text-align: center;
  max-width: toRem(420);
}

.cartLayout {
  display: flex;
  flex-direction: column;
  gap: toRem(24);
}

.cartMain {
  display: flex;
  flex-direction: column;
  gap: toRem(24);
}

.cartSummary {
  margin-top: toRem(24);
  padding: toRem(20);
  border-radius: toRem(12);
  background: #fafafa;
}

.deliveryProgress {
  margin-top: toRem(12);

  span {
    font-size: toRem(14);
    color: var(--color-text-light);
  }
}

.progressBar {
  height: toRem(8);
  background: #eee;
  border-radius: toRem(6);
  overflow: hidden;
  margin-top: toRem(6);
}

.progressFill {
  height: 100%;
  background: #e6c25a;
  transition: width 0.3s ease;
}

.progressFillSuccess {
  height: 100%;
  background: #2ecc71;
  transition: width 0.3s ease;
}
