.header {
  background-color: var(--color-primary);
  border-bottom: 1px solid var(--color-border);
  padding-block: toRem(16);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  display: flex;
  align-items: center;
  gap: toRem(40);
  padding-right: toRem(10);
}

