.root {
  display: inline-flex;
  align-items: center;
  // position: relative;
}

.avatarButton {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  // top: calc(100% + toRem(5));
  @include adaptiveValue("top", 68, 50);
  right: 0;
  min-width: toRem(220);
  // @include adaptiveValue("min-width", 220, 180);
  padding: toRem(12);
  border-radius: toRem(12);
  background-color: var(--color-surface);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  z-index: 50;
  opacity: 0;
  transform: translateY(-6px) scale(0.98);
  transition:
    opacity 0.15s ease,
    transform 0.15s ease;
  display: flex;
  flex-direction: column;
}

.menu {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.menu::before {
  content: "";
  position: absolute;
  top: toRem(-6);
  // right: toRem(104);
  @include adaptiveValue("right", 104, 84);
  width: toRem(12);
  height: toRem(12);
  background-color: var(--color-surface);
  transform: rotate(45deg);
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.user {
  display: flex;
  align-items: center;
  gap: toRem(10);
  padding: 0 toRem(12) toRem(8) toRem(12);
}

.userInfo {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.name {
  font-weight: 600;
  font-size: toRem(14);
}

.email {
  font-size: toRem(12);
  color: var(--color-text-light);
}

.divider {
  height: 1px;
  background-color: var(--color-border);
  margin: toRem(8) 0;
}

.item,
.logout {
  display: flex;
  align-items: center;
  gap: toRem(8);
  width: 100%;
  padding: toRem(10) toRem(12);
  border-radius: toRem(8);
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text);
  font-family: var(--font-roboto);
  font-size: toRem(14);
}

@media (any-hover: hover) {
  .item:hover,
  .logout:hover {
    background-color: color-mix(
      in srgb,
      var(--color-text) 8%,
      transparent
    );
  }
}

.icon {
  font-size: toRem(24);
}
