.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-roboto);
}

.main {
  flex: 1 0 auto;
  padding-block: toRem(24);
}

