.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: toRem(16);
}

.image {
  width: toRem(200);
  max-width: 100%;
}

.message {
  margin: 0;
  font-size: toRem(16);
  color: var(--color-text-light);
}

.action {
  margin-top: toRem(8);
}
