.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: toRem(40) toRem(24);
  text-align: center;
}

.message {
  margin: 0;
  font-family: var(--font-roboto);
  font-size: toRem(16);
  color: var(--color-text-light);
  line-height: 1.5;
}
