/* ===== DESIGN TOKENS ===== */

:root {
  /* ===== FONTS ===== */
  --font-roboto: "Roboto", sans-serif;

  /* ===== TRANSITIONS ===== */
  --tr-fast: 0.15s ease;
  --tr-base: 0.25s ease;
  --tr-slow: 0.35s ease;


  
}

