.sidebar {
  width: toRem(240);
  @include adaptiveValue("width", 245, 88);
  display: flex;
  flex-direction: column;
  gap: toRem(16);

  @media (max-width: $tablet) {
    position: sticky;
    @include adaptiveValue("top", 125, 85);
    overflow: hidden;
    z-index: 10;
    height: 100%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: toRem(12);
}

.item {
  list-style: none;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: toRem(12);
  // padding: toRem(8) toRem(10);
  @include adaptiveValue("padding-block", 8, 6);
  @include adaptiveValue("padding-inline", 10, 8);
  border-radius: toRem(999);
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--color-text);
  cursor: pointer;
  text-align: left;
  transition:
    background-color var(--tr-base),
    opacity var(--tr-base),
    filter var(--tr-base),
    transform var(--tr-base);
  will-change: transform, opacity, filter, background-color;
  opacity: 0.7;
  filter: grayscale(100%);

  @media (any-hover: hover) {
    &:hover {
      opacity: 1;
      transform: translateX(4px);
      will-change: transform;

      & .image {
        transform: scale(1.08);
      }
    }
  }

  @media(max-width: $mobile) {
    flex-direction: column;
    justify-content: center;
    border-radius: toRem(10);
  }
}

.buttonActive {
  background-color: var(--color-primary);
  border-color: var(--color-border);
  opacity: 1;
  filter: none;
}

.imageWrapper {
  // width: toRem(56);
  // height: toRem(56);
  @include adaptiveValue("width", 56, 44);
  @include adaptiveValue("height", 56, 44);
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform var(--tr-base);
  will-change: transform;
}

.label {
  font-family: var(--font-roboto);
  // font-size: toRem(15);
  @include adaptiveValue("font-size", 15, 10);
  font-weight: 500;
  letter-spacing: 0.08em;
  @include adaptiveValue("letter-spacing", 1.28, 1.05);
}


